*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
 padding: 5px 3px;
 border: 1px solid #a1a1a1;
 margin: 0px 2px;
 border-radius: 15px;
 outline: 0;
 
}

#Btn {
    border-radius: 50px;
    outline: 0;
    padding: 2px 5px;
    color:#fff;
    background-color: #09c;
    border: none;
    font-size: 14px;

      
}
.form {
    background-color:#c8c4c4;
}
.tasks {
    background-color: #c8c4c4;
   padding: 5px 0px;
    border-radius: 10px;
   
   
}
.task {
    padding:5px 2px;
    color:gray;
    background-color:#fff;
    margin:10px 5px;
    position: relative;
    border-radius: 5px;
  
  
}
.task input {
    margin: 2px;
}
.btn{
    background-color: rgb(244, 61, 61) !important;
    border-radius: 50px;
    color: #fff !important;
    position:absolute;
    right: 5px;
    top: 2px ;
    bottom: 2px;
    line-height: 10px;
    outline: 0;
    /* margin: 2px; */
}

.popup
{
    background-color:rgba(170, 166, 166,.8);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.alert-mesage {
    background-color: #fff;
    width: 17%;
    text-align: center;
    font-size: 18px;
   padding: 5px;
    border-radius: 5px;
    
}
.alert-mesage p{
    float:left ;
   
}
.alert-mesage button{
    padding: 0px 7px !important;
    outline: 0;
    border: none !important;
    background-color: rgb(244, 61, 61);
    margin-left: 20px;
    margin-top: 5px;
  
    color: #fff;
    border-radius: 3px;
}
.done{
    text-decoration: line-through;
   
}